@font-face {
        font-family: nasalization free;
        font-style: normal;
        font-weight: 400;
        src: url(https://github.com/insightcoders/Nasalization-Free/blob/master/nasalization-rg.ttf) format('truetype');
}
h1{
        color:red !important;
}
